
.container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 1rem;
    /* background-color: rgba(255, 255, 255, 0.9); */
    /* border-radius: 10px; */
  
  
}

.buttons {
    margin-top: 1.3rem;
    display: flex;
    justify-content: flex-end;
    height: 3rem;
}

.buttons button {
    margin-left: 10px;
}

/* .container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 1rem;
    max-width: 90%;
} */

/* .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
} */

.contenido{
    justify-content: space-between;
    display: flex;
    
}

.paragraphs {
    font-family: 'Unna', serif;
    font-size: 16px;
    padding: 2%;
    display: flex;
    /* flex: 1; */
    /* text-align: left; */
    width: 50%;
    /* background-color: #c5c3c3; */
    /* border-radius: 5%; */
    /* background-color: rgba(221, 221, 221, 0.7); Opacidad del 70% */
}



.image {
    margin-top: 2rem;
    display: flex;
    width: 50%;
    height: 40%;
    /* opacity: 0.7; */
}

.image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* .botones-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
} */

h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
}


.imagen-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    width: 20rem;
    margin: auto; /* Esto centrará horizontalmente el elemento */

}

/* .container p {
    color: #666;
    font-size: 1.25rem;
    line-height: 1.5;
}

.btn {
    margin-top: 1rem;
} */
