<h1>Gestion de Usuarios</h1>
<input class="form-control " type="text" [(ngModel)]="searchTerm" placeholder="Buscar">

<div class="card" >

    <div class="card-head"></div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <!-- <th scope="col">ID</th> -->
                        <th scope="col">Usuario</th>
                        <th scope="col">Identificacion</th>
                        <th scope="col">Acciones</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarios | filtroUsuarios: searchTerm">
                        <input type="hidden" value="{{usuario.id_Usuario}}">
                        <td hidden>{{usuario.id_Usuario}}</td>
                        <td data-titulo="Usuario:">{{usuario.usuario}}</td>
                        <td data-titulo="Identificacion:">{{usuario.identificacion}}</td>
                        <td>
                            <button class="btn btn-warning" (click) = "editarUsuario(usuario.id_Usuario)">Editar</button>
                        </td>
                        <td>
                            <button class="btn btn-success" (click)="cambioPass(usuario.id_Usuario)">Cambiar Contraseña</button>                        
                        </td>
                        <td>
                            <button class="btn btn-danger" (click)="eliminarUsuario(usuario.id_Usuario)">Eliminar Usuario</button>                        
                        </td>



                    </tr>
                
                </tbody>
            </table>
        </div>
    </div>
</div>