
<h1>Proceso de Evaluación</h1>

<form>

  <div [formGroup]="usuarioForm" class="col-12">
    <div class="card" style="border-radius: 21px;">
        <div class="card-header" style="border-radius: 21px;">
            <h4 class="card-title">Datos del Usuario</h4>
        </div>
        <div class="card-body">
          <div class="form-group col-md-11" >
            <div style="display: none;">
              <label>Id Usuario:</label>
              <input class="form-control" type="text" formControlName="id_Usuario">
            </div>
            <div>
              <label>Usuario:</label>
              <input class="form-control" type="text" formControlName="usuario">
            </div>
          </div>
        </div>
    </div>
  </div>

  <div [formGroup]="evaluacionForm" class="col-12">
    <div class="card" style="border-radius: 21px;">
        <div class="card-header" style="border-radius: 21px;">
            <h4 class="card-title">Datos del evaluado</h4>
        </div>
        <div class="card-body">
          <div class="form-group col-md-11" >
            <div style="display: none;">
              <label>Id Colaborador:</label>
              <input class="form-control" type="text" formControlName="id_Colaborador">
            </div>
            <div>
              <label>Nombres:</label>
              <input class="form-control" type="text" formControlName="nombres">
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="col-12">
    <div class="card" style="border-radius: 21px;">
        <div class="card-header" style="border-radius: 21px;">
            <h4 class="card-title">Preguntas</h4>
        </div>
        <div class="card-body">
          <div *ngFor="let modulo of modulosPreguntas">
            <h3>{{ modulo.nombre_Modulo }}</h3>
            <p>{{modulo.definicion}}</p>
            
            <div class="form-group col-md-11" *ngFor="let preguntas of modulo.preguntasByEvaluacionModel">
              <b><label id="{{preguntas.id_Preguntas_Tipo}}">{{preguntas.pregunta}}</label></b>

              <input class="form-control" type="text" [(ngModel)]="calificacionPregunta['clfc_Pregunta' + preguntas.numero_Pregunta]" 
              [id]="'clfc_Pregunta' + preguntas.numero_Pregunta" [name]="'clfc_Pregunta' + preguntas.numero_Pregunta"
              (input)="validarCalificacion($event, preguntas.numero_Pregunta)"
              onkeyup="this.value = this.value.replace(/[^0-9,.]/g, '').replace(/,/g, '.');">

              <div *ngIf="calificacionInvalida[preguntas.numero_Pregunta]">
                Debe ser un número entre 0 y 5
              </div>
              
              <label for="">Observaciones:</label>
              <textarea class="form-control" cols="28" rows="2"
              [id]="'observacion' + preguntas.numero_Pregunta" [(ngModel)]="observacionPregunta['observacion' + preguntas.numero_Pregunta]" 
              [name]="'observacion' + preguntas.numero_Pregunta"></textarea>
            </div>
          </div>
          <!-- <input type="text" name="calificacionFinal" [(ngModel)]="calificacionPregunta.calificacionFinal" onkeyup="this.value = this.value.replace(/[^0-9,.]/g, '').replace(/,/g, '.');"> -->

        </div>
    </div>
  </div>
  

  <button (click)="guardarEvaluacion('Realizada')" type="submit" class="btn btn-primary button">Finalizar evaluación</button>
  <button (click)="guardarEvaluacion('Borrador')" type="submit" class="btn btn-success button">Guardar evaluación en borrador</button>
  <button  (click)="cancelar()" class="btn btn-danger button">Cancelar</button>

</form>