<h1>Agregar Colaboradores</h1>

<!-- <div (mousemove)="onUserActivity()" (click)="onUserActivity()"> -->
    <!-- <form (ngSubmit)="uploadCsv()" #fileForm="ngForm"> -->
        <!-- <input type="file" name="csvFile" (change)="onFileSelected($event)" accept=".csv"> -->
        <!-- <button type="submit" [disabled]="!selectedFile">Enviar</button> -->
        <!-- <button [disabled]="!fileSelected">Cargar CSV</button> -->
    <!-- </form> -->

    <div>
        <input class="form-control" style="width: 25rem;" type="file" (change)="onFileSelected($event)" accept=".csv" />
        <button class="btn btn-success mt-3" [disabled]="!fileSelected" (click)="uploadCsv()">Cargar CSV</button>
    </div>
      
