<div class="container">
    <h1>Nuevo Usuario</h1>

    <form [formGroup]="registroForm" class="form-register" (ngSubmit)="submitForm()">
        <div class="form-group">
            <label for="">Usuario</label>
            <input type="text" class="form-control controls" maxlength="20" formControlName="usuario" required>
        </div>

        <div class="form-group">
            <label for="">Identificacion</label>
            <input type="text" onkeyup="this.value = this.value.replace(/[^0-9]/g, '').replace(/,/g);" maxlength="10" class="form-control controls" formControlName="identificacion" required>
        </div>

        <!-- Tipo == rol -->
        <div class="form-group">
            <label for="">Tipo</label>
            <select id="selectTipo" class="form-control controls" required formControlName="roles" name="roles">
                <option *ngFor="let roles of roles" value="{{roles.id_Rol}}">{{roles.nombre_Rol}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="">Contraseña</label>
            <input type="password" class="form-control controls" formControlName="password" maxlength="12" required>
        </div>

        <div>
            <input class="form-control" style="width: 25rem;" type="file" (change)="onFileSelected($event)" accept=".csv" />
            <button class="btn btn-success mt-3" [disabled]="!fileSelected" (click)="uploadCsv()">Cargar CSV</button>
        </div>

        <!-- <div class="form-group">
            <label for="">Repetir Contraseña</label>
            <input type="password" class="form-control controls" formControlName="repeatPass" required>
        </div> -->

        
        <button type="submit" class="btn btn-success">Registrar Usuario</button>
        <button (click)="backListUser()" class="btn btn-danger">Cancelar</button>
        
 

    </form>
</div>