<div class="container" >
    <h1>Lista de Evaluaciones</h1>
    <p>Se presentan todas las evaluaciones calificadas</p>

    <div class="reportes">
        <div>
            <div *ngFor="let estado of estados; let i = index">
                
                <input type="checkbox" [checked]="estadosSeleccionados.includes(estado)" (change)="toggleEstado(i)">
                {{ estado }}
            </div>
            <button class="btn btn-primary" (click)="exportarCalificaciones()">Calificaciones Individual</button>
        </div>
        
        <div class="espaciador"></div> <!-- Espacio separador -->

        <div class="roles">
            <div *ngFor="let estado of rolesEstados; let i = index">
                
                <input type="checkbox" [checked]="estadosRoles.includes(estado)" (change)="toggleEstadoRoles(i)">
                {{ estado }}
            </div>
            <button class="btn btn-primary" (click)="calificacionesRoles()">Calificaciones Acumulado</button>
        </div>
    </div>
    <input class="form-control mt-3 mb-2" [(ngModel)]="searchTerm" type="text" placeholder="Buscar">
    <div class="card">

        <!-- <div class="card-head"></div> -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Usuario</th>
                            <th scope="col">Colaborador</th>
                            <th scope="col">Calificacion Final</th>
                            <th scope="col">Rol</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Acciones</th>

        
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of evaluacionesConNombres | filtroEvaluaciones: searchTerm | paginate: { itemsPerPage: 5   , currentPage: page }">
                            <input type="hidden" value="{{ item.evaluacion.id_Evaluacion }}">
                            <td hidden>{{ item.evaluacion.id_Evaluacion }}</td>
                            <td data-titulo="Usuario:">{{ item.nombreUsuario.usuario }}</td>
                            <td data-titulo="Colaborador:">{{ item.nombreColaborador.nombres }}</td>
                            <td data-titulo="Calificacion Final:">{{ item.evaluacion.calificacionFinal }}</td>
                            <td data-titulo="Rol:">{{ item.nombreColaborador.grupo}}</td>
                            <td data-titulo="Estado:">{{ item.evaluacion.estado }}</td>

                            <!-- <button class="btn btn-dark" (click) = "editarUsuario(usuario.id_Usuario)">Editar</button> -->
                            <td><button (click)="visualizarEvaluacion(item.evaluacion.colaborador_id, item.evaluacion.usuario_id, item.evaluacion.id_Evaluacion)" class="btn btn-primary">Visualizar</button></td>

                            <td *ngIf="item.evaluacion.estado === 'Borrador'">
                                <button [disabled]="BotonDesactivado(item.evaluacion)" 
                                class="btn btn-success">Reversar</button>
                            </td>
                            <td *ngIf="item.evaluacion.estado !== 'Borrador'">
                                <button (click)="reversarEvaluacion(item.evaluacion.colaborador_id, item.evaluacion.id_Evaluacion)" 
                                class="btn btn-success">Reversar</button>
                            </td>

                            <td><button (click)="imprimirPdf(item.evaluacion.colaborador_id, item.evaluacion.usuario_id)" class="btn btn-dark">Prueba Individual</button></td>
                            <td><button (click)="imprimirPdf(item.evaluacion.colaborador_id, item.evaluacion.usuario_id, 'promedios')" class="btn btn-warning">Prueba Acumulada</button></td>

                            <td><button (click)="eliminarEvaluacion(item.evaluacion.id_Evaluacion)" class="btn btn-danger">Eliminar</button></td>    
                        </tr>
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <pagination-controls class="paginacion" (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>


</div>
