
<h1>Evaluacion</h1>
<input class="form-control " type="text" [(ngModel)]="searchTerm" placeholder="Buscar">

<div class="card">

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th hidden scope="col">ID</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Cedula</th>
                        <th scope="col">Ingreso</th>
                        <th scope="col">Cargo</th>
                        <th scope="col">CC</th>
                        <th scope="col">Localidad</th>
                        <th scope="col">Zona</th>
                        <th scope="col">Area</th>
                        <th scope="col">Departamento</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let colaborador of colaboradores | filtroEvaluacion: searchTerm | paginate: { itemsPerPage: 6, currentPage: page }">
                        <input id ="id" type="hidden" value = {{colaborador.id_Colaborador}}>
                        <th hidden scope="row">{{colaborador.id_Colaborador}}</th>
                        <td data-titulo="Nombres: ">{{colaborador.nombres}}</td>
                        <td data-titulo="Cedula: ">{{colaborador.cedula}}</td>
                        <td data-titulo="Ingreso: ">{{colaborador.fe_Ingreso_Colaborador | date:'dd-MM-yyyy'}}</td>
                        <td data-titulo="Cargo: ">{{colaborador.cargo_Colaborador}}</td>
                        <td data-titulo="CC: ">{{colaborador.cc}}</td>
                        <td data-titulo="Localidad: ">{{colaborador.localidad}}</td>
                        <td data-titulo="Zona: ">{{colaborador.zona}}</td>
                        <td data-titulo="Area: ">{{colaborador.area}}</td>
                        <td data-titulo="Departamento: ">{{colaborador.departamento}}</td>
                        <td data-titulo="Estado: ">{{colaborador.estado}}</td> 
                        <td *ngIf="colaborador.estado === 'Borrador'">
                            <button (click)="continuarEvaluacion(colaborador.id_Colaborador)" class="btn btn-warning">Continuar</button>
                        </td>
                
                        <!-- Mostrar botón "Ver Evaluación" solo si el estado es "Aprobado" -->
                        <td *ngIf="colaborador.estado === 'No Evaluado'">
                            <button (click)="evaluacionColaborador(colaborador.id_Colaborador)" class="btn btn-success">Evaluar</button>
                        </td>
    
                        <td *ngIf="colaborador.estado === 'Evaluado'">
                            <button [disabled]="BotonDesactivado(colaborador)" class="btn btn-primary">Finalizada</button>
                        </td>
    
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>

<pagination-controls class="paginacion" (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>


