th, td{
    font-size: 12px;
}

button{
    display: flex;
    text-align: center;
    width: 12rem;
    font-size: 15px;
}
.between {
    margin-top: .5rem;
    display: flex;
    justify-content: flex-end;
    height: 50px;
    margin-bottom: 1rem;
}
.salto{
    margin-bottom: 10rem;
}

.paginacion ::ng-deep{
    .ngx-pagination{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center; 
    }

    .ngx-pagination a{
        display: flex;
        text-decoration: none;

    }

}