<h1>Mis Colaboradores</h1>
<input class="form-control " type="text" placeholder="Buscar">

<div class="card">

    <div class="card-head"></div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let colaborador of colaboradores">
                    <th scope="row">{{colaborador.id_Colaborador}}</th>
                    <td>{{colaborador.nombres}}</td>
                    <td>{{colaborador.apellidos}}</td> 
                </tr>
            </tbody>
        </table>
    </div>
</div>