<div class="">
  
    <img src="../../../assets/img/NotFound.svg" alt="">
    
    <button (click)="backHome()" class="btn btn-primary">Regresar al Inicio</button>
</div>


<!--
MEME SIMPSON

<div class="">
    <b><p class="uno" style="color: red">ERROR 404</p></b>
    <p>Ups! La pagina a la que estas intentado acceder no existe, <br>
        un equipo de chimpances altamente entrenados ha sido enviado <br>
        para reparar el problema enseguida
    </p>
    <img src="../../../assets/img/meme.jpg" alt="">
</div>
-->